E-Commerce Assistant for Shopify & WooCommerce with GPT-4o, Gemini & RAG (1).json
{
  "name": "E-Commerce Assistant for Shopify & WooCommerce with GPT-4o, Gemini & RAG",
  "nodes": [
    {
      "parameters": {
        "authentication": "accessToken",
        "resource": "product",
        "operation": "getAll",
        "returnAll": "={{ false }}",
        "limit": "={{ 25 }}",
        "additionalFields": {}
      },
      "id": "531c38de-50c3-4441-93f1-a4144866aab0",
      "name": "Fetch All Products",
      "type": "n8n-nodes-base.shopifyTool",
      "position": [
        2460,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "operation": "get",
        "orderId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Order_ID', ``, 'string') }}",
        "options": {
          "fields": ""
        }
      },
      "id": "6faec98e-a74c-4fac-b52d-9930f0fb65c0",
      "name": "Get Order info",
      "type": "n8n-nodes-base.shopifyTool",
      "position": [
        2580,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e937b209-f93e-4e93-9462-d3d0ded4534d",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        500,
        480
      ],
      "webhookId": "2df9ea18-02cc-402d-868b-7db7271a36cb",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a helpful Automation Assistant answer users queries\n\nYou have Following tools.\nRetrieval Tool: To retrieve relevant context\n\nUser query: {{$('When chat message received').item.json.chatInput }}",
        "options": {}
      },
      "id": "9abfe8ad-0f3a-4866-8a5b-bc9be1fe8e92",
      "name": "General Queries",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1520,
        980
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "6f900415-42fa-462c-b217-8958afd0f7af",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $('Initial Query Router').item.json.output }}",
              "rightValue": "SHOPIFY"
            }
          ]
        },
        "options": {}
      },
      "id": "6fafd276-fe93-418e-91bf-2f5395719be5",
      "name": "Route To Shopify or WooCommerce",
      "type": "n8n-nodes-base.if",
      "position": [
        1820,
        320
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7c736e9e-0270-423f-b5f7-1d9e8b5d3fbc",
      "name": "Shopify Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        2200,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "dcaeae2c-7f18-441d-992b-59d650b0fce9",
      "name": "WooCommerce Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        2200,
        1240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "General_Knowledge_base",
        "toolDescription": "When some retrieval is needed",
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": "example-01",
          "cachedResultName": "example-01"
        },
        "topK": 5,
        "options": {}
      },
      "id": "82300cbf-74a9-4f29-8d16-e85cb9f5aa26",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        1660,
        1500
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "model": "amazon.titan-embed-text-v2:0"
      },
      "id": "34e05f16-7c17-4afb-86a2-fc39f3fd8685",
      "name": "Embeddings AWS Bedrock",
      "type": "@n8n/n8n-nodes-langchain.embeddingsAwsBedrock",
      "position": [
        1640,
        1620
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "c754c276-1117-4037-88dd-fec90fd52308",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.output }}",
              "rightValue": "SHOPIFY"
            },
            {
              "id": "f51b2e8e-1135-4c2a-beb0-466aa39e1f50",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.output }}",
              "rightValue": "WOOCOMMERCE"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "2df41ff0-12e9-41e7-a2b2-54c23237b8bb",
      "name": "Check if Its General query",
      "type": "n8n-nodes-base.if",
      "position": [
        1420,
        480
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "fd957d18-8945-40b3-a05b-156fd16e749f",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        3060,
        640
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "operation": "getAll",
        "options": {}
      },
      "id": "b4b39c2a-e5c0-445e-a1eb-de5e3855164c",
      "name": "Fetch All Products2",
      "type": "n8n-nodes-base.wooCommerceTool",
      "position": [
        2460,
        1240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "order",
        "operation": "get",
        "orderId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Order_ID', ``, 'string') }}"
      },
      "id": "e8cb8ea2-dc2c-447b-b02f-dd1d1afc71c0",
      "name": "Fetch Order Details",
      "type": "n8n-nodes-base.wooCommerceTool",
      "position": [
        2620,
        1240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "4f78deac-74e3-4a1b-a217-93a8b77636a4",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        920,
        720
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$('When chat message received').item.json.sessionId }}"
      },
      "id": "b542a382-5a0e-4449-9d82-97812dd5b681",
      "name": "Memory RAG",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1640,
        1140
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}"
      },
      "id": "b3bf80ca-3ce4-4c0d-9f61-7470b9c5b0a1",
      "name": "WooCommerce Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        2340,
        1240
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$('When chat message received').item.json.sessionId }}"
      },
      "id": "570be1fd-6192-4fac-915b-7094eb77dd5a",
      "name": "Shopify Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        2320,
        460
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://test-walkerballorg001.myshopify.com/admin/api/2025-04/graphql.json",
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "variables": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Variables', ``, 'json') }}",
        "operationName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Operation_Name', ``, 'string') }}"
      },
      "id": "1ba7823f-4fe4-49eb-b296-06ff79c4ea84",
      "name": "GraphQL",
      "type": "n8n-nodes-base.graphqlTool",
      "position": [
        2700,
        460
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "8df3b888-7e12-4e9d-895f-85efe4886864",
      "name": "Router Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        780,
        720
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "99f9757c-193a-4db2-a7bd-a535173f9b97",
      "name": "GPT-4o-mini",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1460,
        1140
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## **Trigger**\n\n#### **When chat message received**\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n* **Action:** Activates the workflow at the start of a conversation.\n* **Source:** A new message sent by a user in the chat interface.\n* **Output:** The user's message (`chatInput`) and a unique `sessionId` for tracking the conversation.\n",
        "height": 608,
        "width": 320
      },
      "id": "a3f28bd5-8326-4d5b-808f-7c180e5f9adb",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## **Initial Routing**\n\n#### **Initial Query Router (Agent)**\n* **Action:** Analyzes the user's initial message to categorize their intent.\n* **Function:** Uses the `Router Model (GPT-4o-mini)` and a specific prompt to decide the query's topic.\n* **Output:** A single-word classification: `SHOPIFY`, `WOOCOMMERCE`, or `None of them`.\n\n",
        "height": 608,
        "width": 544,
        "color": 7
      },
      "id": "7bf372f7-adee-4006-9142-bd82260377f2",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "#### **Check if Its General query (IF Node)**\n\n* **Action:** Routes the conversation based on the initial classification.\n* **Input:** Checks the single-word output from the `Router` node.\n* **Output:** Directs the workflow to the **General Queries** path if the input is not `SHOPIFY` or `WOOCOMMERCE`. Otherwise, continues to the next check.\n\n",
        "height": 432,
        "width": 384,
        "color": 2
      },
      "id": "bfdf2a57-ba72-4a52-9759-fd0080e6f912",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1280,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## **General Queries Agent & Tools (RAG)**\n\n#### **General Queries (Agent)**\n\n* **Action:** Answers general knowledge questions that are not related to e-commerce.\n* **Function:** Uses a Retrieval-Augmented Generation (RAG) approach, querying its knowledge base tool (`Pinecone`) to find relevant information.\n* **Output:** A helpful, informative answer based on the retrieved context.\n\n",
        "height": 576,
        "width": 752,
        "color": 6
      },
      "id": "fb46041f-3b5a-43fe-b3d8-f3ae56b92a17",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1280,
        700
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "#### **Route To Shopify or WooCommerce (IF Node)**\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n* **Action:** Directs the e-commerce query to the correct specialist agent.\n* **Input:** Checks if the `Router` output is `SHOPIFY`.\n* **Output:** Sends the query to the **Shopify Assistant Agent** if true, or to the **WooCommerce Assistant Agent** if false.\n",
        "height": 432,
        "width": 352,
        "color": 3
      },
      "id": "4d1f1af1-d698-4fd6-8278-b6fd16cf1a31",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1680,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "#### **Pinecone Vector Store (Tool)**\n\n* **Action:** Searches the knowledge base for documents relevant to the user's question.\n* **Input:** A vector embedding of the user's query from the `Embeddings AWS Bedrock` node.\n* **Output:** The most relevant text chunks from the database, passed back to the agent as context.\n\n",
        "height": 464,
        "width": 496,
        "color": 4
      },
      "id": "f0815345-af27-4330-9237-538290b55e60",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1540,
        1280
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## **WooCommerce Agent & Tools**\n\n### **WooCommerce Assistant**\n\n* **Action:** Manages the conversation for all WooCommerce-related tasks.\n* **Function:** Uses the `WooCommerce Chat Model` and its available tools (`Fetch Order Details`, `Fetch All Products2`) to answer user questions.\n* **Output:** A final text response for the user or a command to use one of its tools.\n",
        "height": 704,
        "width": 832
      },
      "id": "e6ee6a54-baac-4803-a983-701077137203",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2060,
        700
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## **Shopify Agent & Tools**\n\n### **Shopify Assistant**\n* **Action:** Manages the conversation for all Shopify-related tasks.\n* **Function:** Uses the `Shopify Chat Model` and its available tools (`Get Order info`, `Fetch All Products`, `GraphQL`) to answer questions and perform actions.\n* **Output:** A final text response for the user or a command to use one of its tools.\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n",
        "height": 672,
        "width": 832,
        "color": 7
      },
      "id": "cb9c7530-62b4-42e0-9dd1-80523d1cdbc4",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2060,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## **Merge**\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n* **Action:** Consolidates the workflow into a single path before it ends.\n* **Input:** The final text output from whichever agent was used (Shopify, WooCommerce, or General).\n* **Output:** A single data stream containing the final answer, ready to be displayed to the user.",
        "height": 416,
        "width": 400,
        "color": 5
      },
      "id": "bf1a28dd-3225-4a49-9fcd-10531f934155",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2920,
        580
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a routing agent based on user qquery route them to appropriate next agent\n\n**STRICT**\nIf user asks about shopify then Destination --> SHOPIFY\nIf user asks about WooCommerce then Destination --> WOOCOMMERCE\nIf user asks other queries --> None of them\n\n**IMPORTANT** \nReply Only with 1 word\n\nUser query: {{ $json.chatInput }}",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "34faad1f-4e0c-4fe0-affd-5a7ffdd4ce96",
      "name": "Initial Query Router",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        860,
        480
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Shopify assistant. When users mention an order ID (like \"order 12345\" or \"#67890\"), extract that ID and use it with the appropriate Shopify tools.\n\nAvailable tools:\n- Get Order info: Use this when users ask about order details(use it with user given order id)\n- Fetch all Products: Use this for product information\n-GraphQL: Use this when you need other informations. (Generate query first and then use this tool)\n\n**IMPORTANT**:\n- Never use Fetch All Products when you need only one product.\n- when you need a singular item use GraphQL.\n- First draft a GraphQL query, then use that query with GraphQL tool and if variables are required then also draft that.\n- Just pass search keyword directly to the GraphQL tool along with query.\n\n\nUser Query: {{ $('When chat message received').item.json.chatInput }}",
        "options": {}
      },
      "id": "26fb2d15-7583-4f8b-89c1-5d2f390a87cb",
      "name": "Shopify Assistant Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2320,
        240
      ],
      "typeVersion": 2,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a helpful WooCommerce automation Assistant you solve user's query about WooCommerce\n\nUser query:  {{ $('When chat message received').item.json.chatInput }}",
        "options": {}
      },
      "id": "b476a433-6a32-4ccb-b0a6-ec7be0192512",
      "name": "WooCommerce Assistant Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2320,
        960
      ],
      "typeVersion": 2
    }
  ],
  "pinData": {},
  "connections": {
    "GraphQL": {
      "ai_tool": [
        [
          {
            "node": "Shopify Assistant Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Memory RAG": {
      "ai_memory": [
        [
          {
            "node": "General Queries",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o-mini": {
      "ai_languageModel": [
        [
          {
            "node": "General Queries",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Router Model": {
      "ai_languageModel": [
        [
          {
            "node": "Initial Query Router",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Initial Query Router",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get Order info": {
      "ai_tool": [
        [
          {
            "node": "Shopify Assistant Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Shopify Memory": {
      "ai_memory": [
        [
          {
            "node": "Shopify Assistant Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "General Queries": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch All Products": {
      "ai_tool": [
        [
          {
            "node": "Shopify Assistant Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Shopify Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Shopify Assistant Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "WooCommerce Memory": {
      "ai_memory": [
        [
          {
            "node": "WooCommerce Assistant Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Fetch All Products2": {
      "ai_tool": [
        [
          {
            "node": "WooCommerce Assistant Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Order Details": {
      "ai_tool": [
        [
          {
            "node": "WooCommerce Assistant Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Initial Query Router": {
      "main": [
        [
          {
            "node": "Check if Its General query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "General Queries",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings AWS Bedrock": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "WooCommerce Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "WooCommerce Assistant Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Shopify Assistant Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Its General query": {
      "main": [
        [
          {
            "node": "Route To Shopify or WooCommerce",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "General Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Initial Query Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WooCommerce Assistant Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Route To Shopify or WooCommerce": {
      "main": [
        [
          {
            "node": "Shopify Assistant Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WooCommerce Assistant Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bc23e196-271b-45e7-bb1a-9e7fe90a2aa9",
  "meta": {
    "templateId": "6100",
    "instanceId": "cc8f133c6b2788cd28510635eb18c7ac65e81c233dc270f5844521365a240b25"
  },
  "id": "thFWMSFIBqNgs0e1",
  "tags": []
}